<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head') %> 
<body>
    <%- include('./partial/nav.ejs') %> 

    <main class="capitalize text-center lg:text-left md:p-10 p-5 ">
        <h1 class="text-3xl lg:text-6xl font-bold ">welcome to plate number registration and lincense page</h1>
        <p class="my-4 md:text-2xl">this is our final year project about registration and assigning plate number. from kano polytechnic <span class="text-green-500  font-medium ">(ivei software department kano)</span></p>
        <div class="">
            <a href="/register" class="btn btn-blue mt-3 inline-block">register</a>
        </div>
    </main>
</body>
</html>