<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %> 
<body>
    <%- include('./partial/nav.ejs') %> 
    <div class="container">
        <h1 class="capitalize text-center font-bold text-3xl">log in</h1>
        <form action="/log-in" method="POST">
            <div class="email">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="password">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn btn-blue block my-4">log in</button>
        </form>
    </div>
</body>
</html>