<header class="flex items-center justify-between shadow-md p-4 md:p-6 sticky top-0 bg-white">
    <div class="logo">
        <img src="" alt="logo">
    </div>
    <nav>
        <ul class="flex items-center capitalize ">
            <li><a class="px-1 md:px-5 hover:text-blue-400" href="/">home</a></li>
            <li><a class="px-1 md:px-5 hover:text-blue-400" href="/about">about</a></li>
            <li><a class="px-1 md:px-5 hover:text-blue-400" href="/log-in">log in</a></li>
            <li><a class="px-1 md:px-5 hover:text-blue-400" href="/admin">admin</a></li>
        </ul>
    </nav>
</header>